$black: rgb(10, 10, 10);
$dark-gray: rgb(50, 50, 50);
$gray: rgb(80, 80, 80);
$light-gray: rgb(220, 220, 220);
$white: rgb(250, 250, 250);


@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin def-box-shadow() {
    @include box-shadow(0 0 1px 1px $light-gray);
}
